table
{
    border:2px solid grey;
    border-collapse: collapse;
    width: 90%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    /* box-shadow: 2px 2px black; */
    
    
}
td
{
    border:2px solid black;
    text-align: center;
    padding: 15px;
}
.days
{
    font-weight: bold;
    width:20%;
    background-color: rgb(147, 144, 144);
}

th
{
    border:2px solid black;
    background-color: rgb(147, 144, 144);

}
.greybg
{
    background-color: rgb(147, 144, 144);
    font-weight: bold;
}